# Series Object

In [1]:
import pandas as pd

In [2]:
data = [4,5,8,3,1]
pd.Series(data)

0    4
1    5
2    8
3    3
4    1
dtype: int64

## Pandas Series has two things in one object
- 1. Values
- 2. Index

In [6]:
data = [100,200,300,400]
data_set = pd.Series(data)

In [7]:
print(data_set.values)

[100 200 300 400]

In [9]:
print(data_set.index)

RangeIndex(start=0, stop=4, step=1)

In [18]:
data = [100,200,300,400]
data_set = pd.Series(data,index=['a','b','c','d'])

In [20]:
print(data_set.values)
print(data_set.index)

[100 200 300 400]
Index(['a', 'b', 'c', 'd'], dtype='object')

In [21]:
print(data_set)

a    100
b    200
c    300
d    400
dtype: int64

In [31]:
## Name of Data
data = [100,200,300,400,350]
data_set = pd.Series(data,index=['Mon','Tue','Wed','Thu','Fri'],name="Weekdays Earning Per Day")
data_set

Mon    100
Tue    200
Wed    300
Thu    400
Fri    350
Name: Weekdays Earning Per Day, dtype: int64

In [32]:
## Name of Data
data = [[100,200,300,400,350],[56,565,415,123,51]]
data_set = pd.Series(data,name="Weekdays Earning Per Day")
data_set

0    [100, 200, 300, 400, 350]
1      [56, 565, 415, 123, 51]
Name: Weekdays Earning Per Day, dtype: object

In [98]:
data = [100,200,300,400,350]
data_set = pd.Series(data,index=['Mon','Tue','Wed','Thu','Fri'],name="Weekdays Earning Per Day")
data_set.index = ['Monday','Tuesday','Wednesday','Thursday','Friday']
data_set

Monday       100
Tuesday      200
Wednesday    300
Thursday     400
Friday       350
Name: Weekdays Earning Per Day, dtype: int64

## Create a Pandas Series to store a Canteen Data to hold values of how many sandwitches are sold each days (one week)

In [76]:
sw = [35,20,30,15,35]
data_set = pd.Series(sw,index=['Mon','Tue','Wed','Thu','Fri'],name=" Sandwitches sold in one Week Per Day")
data_set

Mon    35
Tue    20
Wed    30
Thu    15
Fri    35
Name:  Sandwitches sold in one Week Per Day, dtype: int64

In [77]:
print(data_set[[0,2]]) # for providing multiple index for selecting element in an pd series ,use array notation
print(data_set[['Mon','Fri']])

Mon    35
Wed    30
Name:  Sandwitches sold in one Week Per Day, dtype: int64
Mon    35
Fri    35
Name:  Sandwitches sold in one Week Per Day, dtype: int64

In [78]:
data_set[data_set>20]

Mon    35
Wed    30
Fri    35
Name:  Sandwitches sold in one Week Per Day, dtype: int64

## Pandas practice with Numpy

In [84]:
import numpy as np

In [85]:
sale = np.array([120,180,200,190,250])
months = np.array(['jan','feb','mar','apr','may'])

df = pd.Series(sale,index=months)

In [86]:
df

jan    120
feb    180
mar    200
apr    190
may    250
dtype: int32

### Fetching dictionary in pandas

In [88]:
state = {'sindh':75000000,'punjab':50000000,'kpk':30000000,'balochistan':12000000}
tax_state = pd.Series(state)
print(tax_state)

sindh          75000000
punjab         50000000
kpk            30000000
balochistan    12000000
dtype: int64

In [90]:
state = {'sindh':75000000,'punjab':50000000,'kpk':30000000,'balochistan':12000000}
tax_state = pd.Series(state,index=["punjab","sindh","kpk",'balochistan'])
print(tax_state)

punjab         50000000
sindh          75000000
kpk            30000000
balochistan    12000000
dtype: int64

In [96]:
state = {'sindh':75000000,'punjab':50000000,'kpk':30000000,'balochistan':12000000}
tax_state = pd.Series(state)
tax_state.name="Pakistan Tax Data" # name of series
print(tax_state)
tax_state.index.name="States"  # name of index in pandas series
print(tax_state.index)

sindh          75000000
punjab         50000000
kpk            30000000
balochistan    12000000
Name: Pakistan Tax Data, dtype: int64
Index(['sindh', 'punjab', 'kpk', 'balochistan'], dtype='object', name='States')

### if any value is missing or null

In [91]:
state = {'sindh':75000000,'punjab':50000000,'kpk':30000000,'balochistan':12000000}
tax_state = pd.Series(state,index=["punjab","sindh","kpk",'balochistan','gilgit baltistan'])
print(tax_state)

punjab              50000000.0
sindh               75000000.0
kpk                 30000000.0
balochistan         12000000.0
gilgit baltistan           NaN
dtype: float64

In [93]:
pd.isnull(tax_state) #missing value return TRUE ,and rest will return FALSE

punjab              False
sindh               False
kpk                 False
balochistan         False
gilgit baltistan     True
dtype: bool

## --------------------------------------------

# Data Frame

In [1]:
import pandas as pd

In [19]:
apples = pd.Series([5,4,2,3,1])
oranges = pd.Series([15,14,12,13,11])

data = {"Apples":apples,"Oranges":oranges}
fruits = pd.DataFrame(data)
print(fruits[fruits["Apples"]<3])

   Apples  Oranges
2       2       12
4       1       11

In [23]:
states = ['Sindh','Punjab','Kpk','Balochistan']
years = ['2016','2017','2018','2019']
pop = ['30','50','60','70'] #population in millions

data = {"States":states,"Years":years,'Population':pop}
data_frame = pd.DataFrame(data,index=['1st','2nd','3rd','4th'])
print(data_frame)

          States Years Population
1st        Sindh  2016         30
2nd       Punjab  2017         50
3rd          Kpk  2018         60
4th  Balochistan  2019         70